tr.status-new {
    background-color: rgba(52, 152, 219, 0.15) !important;
}

tr.status-in_progress {
    background-color: rgba(241, 196, 15, 0.15) !important;
}

tr.status-delivered {
    background-color: rgba(46, 204, 113, 0.15) !important;
}

tr.status-cancelled {
    background-color: rgba(231, 76, 60, 0.15) !important;
}